.NewsItem {
  @apply mt-1;
  @apply py-16 px-20;
  @apply grid gap-20;
  @apply bg-custom-gray-03;

  grid-template-columns: 240px 1fr;

  &:first-child {
    @apply mt-0;
  }
  
  .thumbnail {
    height: 180px;

    &-img {
      @apply w-full h-full;
      @apply object-cover;
      @apply object-center;
    }
  }

  .info {
    //

    &-header {
      border-bottom: 4px solid;

      @apply mb-8;
      @apply pb-8;
      @apply border-custom-blue-01;

      &-title {
        @apply overflow-hidden;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }

      &-publishedAt {
        @apply block;
        @apply text-right;
        @apply text-custom-gray-01;
      }
    }

    &-contents {
      @apply overflow-hidden;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      
      font-size: 14px;
    }
  }
}