.MainLayout {
  @apply pt-80;
  @apply w-full;
  @apply flex justify-center items-start;

  height: 100vh;

  &-wrapper {
    @apply overflow-hidden;
    
    width: 512px;
    border-radius: 8px;
    box-shadow: 1px 3px 6px #383841;

    .header {
      &-title {
        @apply py-16 px-20;
        @apply font-bold;
        @apply text-white;
        @apply text-center;
        @apply bg-custom-blue-01;

        font-size: 20px;
      }
    }

    .main {
      //
    }
  }
}