.MyButton {
  @apply py-8 px-16;
  @apply inline;
  @apply font-bold;
  
  border-radius: 8px;
  background-color: #111;
  box-shadow: 1px 1px 3px #ddd;

  transition: box-shadow 0.5s ease;

  &.success {
    @apply bg-sky-800;
  }

  &.fail {
    @apply bg-orange-700;
  }
  
  &:hover {
    box-shadow: 3px 3px 9px #777;
  }
}